<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<header>
    <h1>CodeFellowship</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<h2 th:text="'Welcome ' + ${userData.username}">Welcome</h2>
<section>
    <img width="200px" src="https://www.pngarts.com/files/10/Default-Profile-Picture-Free-PNG-Image.png">
    <h3 th:text="${userData.firstName} + ' ' + ${userData.lastName}">First and Last Names</h3>
    <h3 th:text="'Date of Birth: ' + ${userData.dateOfBirth}">Date Of Birth</h3>
    <h3 th:text="${userData.bio}">Bio</h3>
</section>

</body>
</html>